- pick = params[:ssss_n] || DEFAULT_SSSN 
= select_tag(:ssss_n, options_for_select(array,selected: pick ), class: 'pulldown small', onchange: "capSsssK(getSsssN());$('#ssss_k option:eq(0)').prop('selected', true);")
